html {
  background: #000 url(../images/body-bg.png) no-repeat;
}
body {
  width: 1024px;
  margin: 0 auto;
  color: #e4d383;
  /*background: url(../images/body-bg.png) no-repeat;*/
}

#footer {
  width: 900px;
  margin: 0 auto;
  background: url(../images/footer-bg.png) no-repeat;
}

#footer .block {
  padding: 10px 0 0 200px;
  text-align: center;
}
